
body{
    margin:0;
    font-family: 'Times New Roman', Times, serif;
    background: rgb(21, 214, 225);
}


.container{
    display: flex;    
   
           
    max-width: 900px;           
    margin: 80px auto;
    background: rgb(165, 105, 105);
    position: fixed;   
    left: 500px; 
    
    top: -19px;
        
    overflow: hidden; 
    color: rgb(234, 229, 229);   
      font-family: 'Times New Roman', Times, serif;       
}


.form-box{
    width: 50%;
    padding: 30px;              
    border-right: 2px solid #ddd;  
    z-index: 10;    
  
               
}


#title{
    text-align: center;
    color: rgb(235, 235, 255);
    font-size: 30px;
     margin-bottom: 20px;

     
}


table {
    width: 100%;
    border-collapse: collapse;  

}
td {
 padding: 10px ;              
   vertical-align: middle;
    
}


input[type="text"],
input[type="email"],
input[type="password"],
textarea{
    width: 100%;
    padding: 8px;
 border: none;
    margin: 10px;    
     border-radius: 3px;               
 box-sizing: border-box;            
}


.gender input{
  
    width: auto;
    margin-right: 10px;
    
    
}


.center {
    text-align: center;
}


button{
    width: 100%;
    padding: 5px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;

    
}



.right-box{
    
    height: 50px;
    background: url("image.jpg");
   margin-top: 130px;
   margin-left: 4px;
   margin-right: 4px;
    max-width: 500px;
   
    
   
}
.right-img{
    
    max-width: 500px;
    
}


label{
    font-weight: bold;   
    color: rgb(255, 255, 255);
     
     margin-bottom: 5px;  
          display: inline-block;

}


.login-text{
    text-align: center;
    margin-top: 120px;
    font-size: 14px;
}


.login-btn{
    background: transparent;
    border: 0px solid blue;
    color: blue;
    padding: 2px 5px;
    cursor: pointer;
    font-weight: bold;   
    
}
.login-btn:hover{
    background: blue;
    color: white;

}
select {
    width: 200px;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    font-size: 14px;
    
}
